<mat-card id="complete">
     <img src="../../assets/done-svgrepo-com.svg" alt="">
     <h3>Congratulations ! You have successfully applied for the walk-in opportunity</h3>
     <span><hr/></span>
     
     <h5>Date & Time of Walk-In :</h5>
     <p>{{date}}</p>
     <p>{{time}}</p>
     <span><hr/></span>

     <h5>Venue of Walk-In :</h5>
     <p>Zeus Systems Pvt. Ltd.<br> 1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg <br> Lower Parel (W) <br>Mumbai - 400 013<br> Phone: +91-22-66600000</p>

     <span><hr></span>

     <h5>THINGS TO REMEMBER :</h5>
     <p>- Please report 30 MINUTES prior to your reporting time.
     <br>- Download your Hall Ticket from below and carry it with you during your Walk-In.</p>
     
     <span><hr></span>
     <a><button mat-stroked-button>DOWNLOAD HALL TICKET</button></a>

</mat-card>