.routing-tab
{
     display: flex;
     justify-content: space-between;align-items: center;
     color:#FFFFFF;
     background-color: #2a598e;
     div
     {
          display: flex;
          justify-content: space-around;

          button
          {
               color: black;
          }
     }
}


#progress
{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #FFFFFF;
     margin: 20px;
     padding: 20px;

     div
     {
          display: flex;
          margin-left: 10px;
          align-items: center;

          #active,.inactive
          {
               background-color: #3FD28B;
               padding: 10px;
               border-radius: 45%;
          }
          #active
          {
               img
               {
                    height: 15px;
                    width: 15px;
               }
          }
          .inactive
          {
               color: #FFFFFF;
               background-color: #757575;
          }
     }
}

#education
{
     margin: 20px;
     .toggle-heading
     {
          padding: 20px;
          display: flex;
          justify-content: space-between;
          background-color: #DBEFFF;
     
          button
          {
               border: none;
               background-color: #DBEFFF;
               font-size: 30px;
          }
     }

}



.input
{
     margin-top: 4px;
     .img
     {

          text-align: center;
          margin-top: 50px;
          margin-right: 50px;
          float: right;

          a{
               text-decoration: none;
               color: #1F7A54;
          }
          p
          {
               font-size: 12px;
               color: #757575;
          }
     }
     select
     {
          width: 50%;
          border: none;
          border-bottom: 2px solid black;
          padding:4px 0px;  
          outline: none;
          font-weight: 600; 
          color: black;
          font-family: 'Quicksand-Medium';
          font-size: 15px;

          
     }

     #passing_year
     {
          width: 20%;
     }
     input
     {
          width: 20%;
          border: none;
          border-bottom: 2px solid black;
          padding:4px 0px;  
          outline: none;
          color: #666666;
          font-family: 'Quicksand-Medium';
          font-weight: 600;
          margin-bottom: 25px;
     }
     fieldset > input
     {
          width: auto;
          margin-right: 10px;
     }
    
     
}