@import 'font';
@import 'footer';
@import 'header';

#maincontainer
{
     @include maincontainer(65%);    
}


section
{
     font-family: 'Quicksand-Medium';

     border-top: 5px solid #3AC7EC;
     font-size: 15px;
     background-color:white;
     display: flex;
     flex-direction: column;
     width: 488px;
     margin: 50px auto;
     margin-bottom: 25px;
     padding: 15px  32px;
}
.title
{
     color: #222222;
     display: flex;
     
     img
     {
          width: 20px;
          
     }
     h1
     {
          margin-left: 77px;
          font-family: 'Quicksand-Medium';
     }
}


.qualification
{
     color: #333333;
     margin-top: 30px;
     display: flex;
     line-height: 24px;
     
     p
     {
          margin: 0px 10px;
     }
}

.input
{
     #state,#district,#username,#password,#remember
     {
          color: #666666;
          margin-top: 25px;
          display: flex;
          flex-direction: column;

          #head-text
          {
               font-size: 12px;
               margin-bottom: 6px;
          }
     }
     
     #password > p > img , #state > p > img , #district > p > img 
     {
          float: right;
     }
}

#username
{
     margin-top: 40px;
}
#remember
{
     display: flex;
     margin-top: 25px;
     flex-direction: row;
     line-height: 24px;
     color: #222222;
     font-weight: bold;
     
     img
     {
          /* display: inline; */
          height: 24px;
          width: 20px;
          margin-right: 10px;
     }
}



#forgot
{
     margin-top: 5px;
     margin-left: auto;
     color:#1F7A54;
     text-transform: uppercase;
     opacity: 1;
     font-weight:500;
}


button{
     width: 215px;
     margin-left:  auto;
     margin-right:  auto;
     margin-top: 35px;
     padding: 10px;
     outline: none;
     border: none;
     box-shadow: 0px 3px 5px #0000003D;
     background: #3FD28B 0% 0% no-repeat padding-box;
}


