*
{
     /* background-color: lightgray; */
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

#maincontainer
{
     display: flex;
     height: 100vh;
     flex-direction: column;
     width: 65%;
     margin-left: auto;
     margin-right: auto;
}
header
{
     background-image: url("/icons/header\ pattern\ svg.svg");
     display: flex;
}

header > div
{
     margin: 5px;
}

body
{
     background-color: #EEEEEE;
}


section
{
     border-top: 5px solid #467aad;
     /* border-top: #3FD28B; */
     font-size: 15px;
     background-color:white;
     display: flex;
     flex-direction: column;
     width: 488px;
     margin: 50px auto;
     margin-bottom: 25px;
     padding: 15px  32px;
     /* border-top: 3px olive; */
}
.title
{
     color: #222222;
     display: flex;
}
.title > img
{
     width: 20px;
     
}

.title > h1
{
     color: #222222;
     margin-left: 77px;
}
.qualification
{
     color: #333333;
     margin-top: 30px;
     display: flex;
     line-height: 24px;

}
.qualification > p
{
     margin: 0px 10px;

}


#state,#district,#username,#password,#remember
{
     color: #666666;
     margin-top: 25px;
     display: flex;
     flex-direction: column;
}

#username
{
     margin-top: 40px;
}
#remember
{
     display: flex;
     margin-top: 25px;
     flex-direction: row;
     line-height: 24px;
     color: #222222;
}

#remember > img
{
     /* display: inline; */
     height: 24px;
     width: 20px;
     margin-right: 10px;
}

#head-text
{
     font-size: 12px;
     margin-bottom: 6px;
}


#state > p > img
{
     float: right;
}
#district > p > img
{
     float: right;
}
#password > p > img
{
     float: right;
}
#forgot
{
     margin-top: 5px;
     margin-left: auto;
     color:#1F7A54;
     text-transform: uppercase;
     opacity: 1;
     font-weight: bold;
}

button{
     width: 215px;
     margin-left:  auto;
     margin-right:  auto;
     margin-top: 35px;
     padding: 10px;
     outline: none;
     border: none;
     box-shadow: 0px 3px 5px #0000003D;
     background: #3FD28B 0% 0% no-repeat padding-box;
}


input
{
     /* border-bottom: 1px; */
    
     border-style: hidden;
     border-bottom-style: solid;
     outline: none;
}


footer
{
     margin-top: auto;
     text-align: center;
     /* align-items: center; */
}
footer > div
{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px;
     background-color:#E0E1E1;
}
footer > div > p
{
     margin-left: 5px;
     word-spacing: 5px;
}
#contact
{
     color: #1F7A54;
     font-weight: bold;
}
