@font-face {
  font-family: Quicksand-Bold;
  src: url("font/Quicksand-Bold.ttf");
}
@font-face {
  font-family: Quicksand-Light;
  src: url("font/Quicksand-Light.ttf");
}
@font-face {
  font-family: Quicksand-Medium;
  src: url("font/Quicksand-Medium.ttf");
}
@font-face {
  font-family: Quicksand-Regular;
  src: url("font/Quicksand-Regular.ttf");
}
@font-face {
  font-family: Quicksand-SemiBold;
  src: url("font/Quicksand-SemiBold.ttf");
}
footer {
  margin-top: auto;
  text-align: center;
}

footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #E0E1E1;
}

footer > div > p {
  word-spacing: 5px;
}

.contact {
  color: #1F7A54;
  font-weight: 600;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #EEEEEE;
  font-family: "Quicksand-Medium";
}

header {
  background-image: url("/icons/header pattern svg.svg");
  display: flex;
}

header > div {
  margin: 5px;
}

#maincontainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Quicksand-Medium";
}

section {
  font-family: "Quicksand-Medium";
  border-top: 5px solid #3AC7EC;
  font-size: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 488px;
  margin: 50px auto;
  margin-bottom: 25px;
  padding: 15px 32px;
}

.title {
  color: #222222;
  display: flex;
}
.title img {
  width: 20px;
}
.title h1 {
  margin-left: 77px;
  font-family: "Quicksand-Medium";
}

.qualification {
  color: #333333;
  margin-top: 30px;
  display: flex;
  font-weight: 600;
}
.qualification .radio-item {
  display: inline-block;
  position: relative;
  padding-right: 15px;
  margin: 10px 5px;
}
.qualification .radio-item input[type=radio] {
  display: none;
}
.qualification .radio-item label:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 4px;
  left: -10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #1F7A54;
  background-color: transparent;
}
.qualification .radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 8.5px;
  left: -5.5px;
  content: "";
  display: block;
  background: #1F7A54;
}

.input {
  margin-top: 4px;
}
.input select {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  padding: 4px 0px;
  outline: none;
  font-weight: 600;
  color: black;
  font-family: "Quicksand-Medium";
  font-size: 15px;
}
.input label {
  font-size: 14px;
}
.input #username > input, .input #password > input {
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  padding: 4px 0px;
  outline: none;
  color: #666666;
  font-family: "Quicksand-Medium";
  font-weight: 600;
  margin-top: 25px;
}
.input #username > a, .input #password > a {
  display: block;
  float: right;
  text-decoration: none;
}
.input #state, .input #district, .input #username, .input #password, .input #remember {
  margin: 15px 0px;
}

#remember {
  margin-top: 25px;
  color: #222222;
  font-weight: bold;
  font-family: "Quicksand-Medium";
}
#remember .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 15px;
}
#remember .container input {
  height: 0;
  width: 0;
}
#remember .checkmark {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #c5cbc9;
}
#remember .container input:checked ~ .checkmark {
  background-color: #1F7A54;
}
#remember .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#remember .container input:checked ~ .checkmark:after {
  display: block;
}
#remember .container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

#forgot {
  margin-top: 5px;
  margin-left: auto;
  color: #1F7A54;
  text-transform: uppercase;
  opacity: 1;
  font-weight: 500;
}

input[type=submit] {
  width: 215px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2392156863);
  background: #3FD28B 0% 0% no-repeat padding-box;
}

#footer_vertical {
  font-size: 30px;
  opacity: 0.1;
  margin: 0px 10px;
}

#footer_bold {
  font-family: "Quicksand-Bold";
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */