div
{
     background-image: url('../../assets/header\ pattern\ svg.svg');
     filter: contrast(1.5);
     background-color:#25313F;
     padding: 5px 10px;
     border-bottom: 4px solid #31B9E4;
}